.question-list {
  list-style: none;
  padding: 1em;
}

.question-list-item {
  padding: 1em;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.tick-mark::before {
  position: absolute;
  left: 30%;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: #07e449;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark::after {
  position: absolute;
  left: 30%;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #07e449;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.cross-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.cross-mark::before {
  position: absolute;
  left: 30%;
  top: 30%;
  height: 80%;
  width: 3px;
  background-color: #e6260d;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  
}
.cross-mark::after {
  position: absolute;
  left: 30%;
  top: 30%;
  height: 80%;
  width: 3px;
  background-color: #e6260d;
  content: "";
  transform: translateX(10px) rotate(45deg);
}

input[type="radio"]:checked.answer-option+label { font-weight: bold; }

/* CSS */
.button-ex {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-ex:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-ex {
    padding: 10px 30px;
  }
}
