* {
    box-sizing: border-box; 
    align-items: center; 
}
.example {
  color: green;
  
}
.inl{
  display: inline;
}

table,
td {
    border: 1px solid green;
    border-collapse:collapse;
    text-align:center;
}